<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>RMS Spring</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Resource Management System with Spring</h1>
	<a href="/">Dashboard</a>
    <p>
        This is the book management page.
    </p>

    <table>
        <thead>
	        <tr>
	            <th>No.</th>
	            <th>ISBN</th>
	            <th>Title</th>
	            <th>Author</th>
	            <th>Status</th>
	            <th>Shelf</th>
	            <th>Actions</th>
	        </tr>
        </thead>
        <tbody>
        	<tr th:if="${#lists.isEmpty(books)}">
        		<td colspan="7">No data.</td>
        	</tr>
            <tr th:each="book : ${books}">
                <td th:text="${bookStat.count}" />
                <td th:text="${book.isbn}" />
                <td th:text="${book.title}" />
                <td th:text="${book.author}" />
                <td th:text="${book.status}" />
                <td th:text="${book.shelf}" />
                <td>
	                <a th:href="@{'/books/'+${book.id}}+'/update'">Update</a>
	                <a th:href="@{'/books/'+${book.id}}+'/delete'">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
	<br />
	<hr />
	<h3>Book Form</h3>
    <form method="post" th:object="${book}">
        <input type="text" th:field="*{isbn}" th:value="*{isbn}" placeholder="ISBN" />
        <input type="text" th:field="*{title}" th:value="*{title}" placeholder="Title"/>
        <input type="text" th:field="*{author}" th:value="*{author}" placeholder="Author"/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>