<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>RMS Spring</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Resource Management System with Spring</h1>
	<a href="/">Dashboard</a>
    <p>
        This is the book management page.
    </p>

    <table>
        <thead>
	        <tr>
	            <th>No.</th>
	            <th>ISBN</th>
	            <th>Title</th>
	            <th>Author</th>
	            <th>Status</th>
	            <th>Shelf</th>
	            <th>Actions</th>
	        </tr>
        </thead>
        <tbody>
        	<tr th:if="${#lists.isEmpty(books)}">
        		<td colspan="7">No data.</td>
        	</tr>
            <tr th:each="book : ${books}">
                <td th:text="${bookStat.count}">1</td>
                <td th:text="${book.isbn}">1234</td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.status}"></td>
                <td th:text="${book.shelf}"></td>
                <td>
	                <a th:href="@{'/books/'+${book.id}}+'/update'">Update</a>
	                <button class="link-button" th:data-url="@{'/books/'+${book.id}}+'/delete'" th:data-id="${book.id}" onclick="deleteBook(this);">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
	<br />
    <a th:href="@{'/books'}">Refresh</a>
	<hr />
	<h3>Book Form</h3>
    <form method="post" th:object="${book}">
        <input type="text" th:field="*{isbn}" th:value="*{isbn}" placeholder="ISBN" />
        <input type="text" th:field="*{title}" th:value="*{title}" placeholder="Title"/>
        <input type="text" th:field="*{author}" th:value="*{author}" placeholder="Author"/>
        <input type="submit" value="Submit" />
    </form>

    <form id="deleteForm" method="post" action="" style="display: none;">
        <input id="deleteId" type="text" name="id" value="" />
    </form>

    <script>
        deleteBook = function (el) {
            let deleteId = document.getElementById("deleteId");
            let deleteForm = document.getElementById("deleteForm");

            deleteId.value = el.getAttribute('data-value');
            deleteForm.action = el.getAttribute('data-url');

            if (confirm("Are you sure?")) {
                deleteForm.submit();
            }
        }
    </script>
</body>
</html>